@model CP2.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.desc)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.local)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.local)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
